/* Icon font styles */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?gefpod');
  src: url('../fonts/icomoon.eot?#iefixgefpod') format('embedded-opentype'), url('../fonts/icomoon.woff?gefpod') format('woff'), url('../fonts/icomoon.ttf?gefpod') format('truetype'), url('../fonts/icomoon.svg?gefpod#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  float: right;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-happy:before {
  content: "\e600"; }

.icon-smiley:before {
  content: "\e601"; }

.icon-sad:before {
  content: "\e602"; }

.icon-grin:before {
  content: "\e603"; }

.icon-angry:before {
  content: "\e604"; }

.icon-info:before {
  content: "\e605"; }

.icon-cancel-circle:before {
  content: "\e606"; }

/*******************************
Base
********************************/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background: url(../img/black_thread.png) repeat;
  font-family: 'Ubuntu', sans-serif;
  height: 100%; }

nav {
  background: #82d9e5;
  margin-bottom: 2rem; }

/*******************************
Layout
********************************/
.user-login {
  display: none;
  width: 12rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.6rem 1rem 0 0; }

/*******************************
Module
********************************/
.login {
  float: right; }

.logo {
  color: #46656a;
  font-family: 'Arvo', serif;
  padding: 0.6rem;
  font-size: 2rem;
  display: inline-block; }

/* General timer style, and color changes for current movement */
.timer {
  color: #ff8a00;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Arvo', serif;
  font-size: 9rem;
  text-align: center;
  padding: 3rem 0 1rem 0; }

.timer.warmup {
  color: #ff8a00; }

.timer.core {
  color: #0ea692; }

.timer.cooldown {
  color: #2fb3c6; }

/* General movement styles */
.movement {
  max-width: 640px;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #999;
  color: rgba(255, 255, 255, 0.5);
  background: darkgray;
  background: rgba(0, 0, 0, 0.3);
  border-top: 4px solid;
  margin-bottom: 0.4rem;
  padding: 1.4rem; }

/* Changes background color of current movement */
.current {
  color: white; }

.current.warmup {
  background: rgba(255, 138, 0, 0.3); }

.current.core {
  background: rgba(255, 138, 0, 0.3); }

.current.cooldown {
  background: rgba(255, 138, 0, 0.3); }

/* Border colors for different workout sections */
.warmup {
  border-top-color: #ff8a00; }

.core {
  border-top-color: #0ea692; }

.cooldown {
  border-top-color: #2fb3c6; }

/* Sticky workout controls for mobile */
.controls {
  text-align: center;
  height: 4rem;
  color: white;
  background: none;
  margin-bottom: 2rem; }

.controls-button {
  margin: 0 auto;
  font-size: 1.6rem;
  width: 9rem;
  height: 3rem;
  border-radius: 6px;
  margin: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  color: white; }

.controls-button:hover, .controls-button:active {
  background: rgba(0, 0, 0, 0.6);
  color: #82d9e5; }

/*******************************
State
********************************/
@media (min-width: 641px) {
  .user-login {
    display: inline; }
  .movement {
    border-radius: 6px; } }

@media (max-width: 640px) {
  .controls {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    background: rgba(70, 101, 106, 0.8); }
  .timer {
    padding-bottom: 3rem; } }
