/* Workout Builder page styles */
input.exercise-name, input.workout-name {
  width: 100%;
  height: 1.618rem;
}

input.exercise-name,
.exercise-type_select,
.exercise-duration,
.exercise-info,
input.workout-name {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: white;
  height: 1.618rem;
  padding: 0.382em;
  font-size: $small;
}


.exercise-type_select {
  float: right;
  width: 70%;
  margin-top: 4px;
  padding: 5px;
  line-height: 1;
  border: 0;
}

.exercise-type_container,
.exercise-duration_container {
  height: 2.618rem;
  float: left;
  clear: both;
}

.exercise-type_container,
.exercise-duration_container {
  width: 100%;
  display: block;
}

.exercise-duration_label,
.exercise-type_label {
  width: 29%;
  float: left;
}

.exercise-duration_label,
.exercise-duration,
.exercise-type_label {
  display: inline-block;
}

.exercise-durations{
  width: 70%;
  clear: both;
}

.exercise-duration {
  width: 34%;
  padding: 0 0 0 0.382em;
  margin: 2px 2px 0 2px;
}

.exercise-info {
  width: 100%;
  height: 4.236rem;
  margin-top: 0.382rem;
}

.profile {
  width: $gigantic;
}

.incomplete-form {
  border: 1px solid $pizazz;
}
