.form-login {
  margin: 0 auto;
  width: 320px;
}

.form-login input {
  display: block;
  margin: $small 0;
  padding: 5%;
  width: 100%;
}

.signup-link {
  margin-top: $normal;
  font-size: $normal;
  text-decoration: none;
  color: $niagara;
  display: block;
  text-align: center;
}

.signup-link:hover,
.signup-link:active {
  color: $dark-niagara;
}
