* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, p, a, img, ol, ul, li,
fieldset, form, label, legend, article,
footer, header, nav, section,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer, header, nav, section {
  display: block;
}
body {
  height: 100%;
  line-height: 1;
}
ol, ul {
  list-style: none;
}

html {
  background: darken($niagara, 25%);
  background: url(../img/bg.png) repeat;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 100%;
}
