
.signup fieldset {
  margin: $normal 0;
}

.line label {
  display: inline-block;
  text-align: right;
  width: 10rem;
}

.line input,
.line button {
  width: 12rem;
  display: inline-block;
}

.signup button {

}
