/* Colors
****************************/

$pizazz: #ff8a00;      //orange
$niagara: #0ea692;     //turquoise
$bison-hide: #c7baac;  //tan
$emperor: #545454;     //medium gray
$scooter: #2fb3c6;     //bright blue
$wild-sand: #f4f3f3;


/* Type Size Variables
****************************/

$tiny: 0.381rem;
$smaller: 0.618rem;
$small: 1rem;
$normal: 1.618rem;
$large: 2.618rem;
$huge: 4.236rem;
$gigantic: 6.854rem;


