<section class="congrats container">
  <h1 class="centered">Congratulations, You're Finished!</h1>
  <p>How are you feeling?</p>
  <section class="happy-meter centered">
    <img src="img/happiness-level.svg" alt="happy faces representing current mood">
    <input type="range" min="1" max="5" value="3" step="1" list="level">
    <datalist id="level">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </datalist>
    <textarea class="centered" name="" id="" cols="30" rows="10" placeholder="Add any additional notes you'd like to share about the workout."></textarea>
    <button class="btn-submit centered">Submit</button>
  </section>
</section>
