<div ng-controller="ProfileController" class="signup container">
<!-- Nav Structure Starts Here -->
  <nav>
    <h1 class="logo">
      FitGenie
    </h1>
    <div class="dropdown-icon" >
      <img src="img/dropdown-img.svg"/>
    </div>
    <div class="dropdown">
      <ul class="dropdown-list">
        <li class="dropdown-items">
          <a href="#profile" class="dropdown-items_link">
            View Profile
          </a>
        </li><!--
        --><li class="dropdown-items">
          <a href="#workout" class="dropdown-items_link">
            My Workout
          </a>
        </li><!--
        --><li class="dropdown-items">
          <a href="#create" class="dropdown-items_link">
            Edit Workout
          </a>
        </li><!--
        --><li class="dropdown-items">
          <a href="#track" class="dropdown-items_link">
            Progress Tracker
          </a>
        </li><!--
        --><li class="dropdown-items">
          <a href="#login" class="dropdown-items_link">
            Sign Out
          </a>
        </li>
      </ul>
    </div>
  </nav>
<!-- Nav Structure Ends -->
  <h1 class="centered">My Profile</h1>
  <form name="newuserform">
<!--       <fieldset>
  <div class="line">
    <label>Login</label>
    <input type="text" required data-ng-model="user.username" placeholder="username"/>
  </div>
  <div class="line">
    <label>Password</label>
    <input type="password" required data-ng-model="user.password" placeholder="password"/>
  </div>
  <div class="line">
    <label>Confirm Password</label>
    <input type="password" required data-ng-model="user.passwordConfirmation" placeholder="password confirmation"/>
  </div>
</fieldset> -->
      <fieldset>
        <div class="line">
          <label>Name</label>
          <input type="text">
        </div>
        <div class="line">
          <label>Birthday</label>
          <input type="birthday" placeholder="mm-dd-yyyy">
        </div>
        <div class="line">
          <label>E-mail Address</label>
          <input type="email">
        </div>
      </fieldset>
      <div class="line">
        <label for=""></label>
        <button data-ng-disabled="newuserform.$invalid" data-ng-click="createNewUser()" class="btn-submit">Create New User</button>
        <p><span ng-bind="message"></span></p>
      </div>
    </form>
  </div>
