  <div ng-controller="LoginController">

  <form name="newuserform">
    <input type="text" required data-ng-model="user.username" placeholder="username"/>
    <input type="password" required data-ng-model="user.password" placeholder="password"/>
    <input type="password" required data-ng-model="user.passwordConfirmation" placeholder="password confirmation"/>
    <button data-ng-disabled="newuserform.$invalid" data-ng-click="createNewUser()">Create New User</button>
   	<p><span ng-bind="message"></span></p>
  </form>

  <div>