<div ng-controller="CreateCtrl">
	<section class="container">
		<h1>Tracking Progress</h1>
    <h2>Workout Calendar</h2>
    <table class="calendar">
      <tr>
        <th colspan="7">
          September
        </th>
      </tr>
      <!-- Weekdays -->
      <tr>
        <th>
          Sun
        </th>
        <th>
          Mon
        </th>
        <th>
          Tues
        </th>
        <th>
          Wed
        </th>
        <th>
          Thu
        </th>
        <th>
          Fri
        </th>
        <th>
          Sat
        </th>
      </tr>
      <!-- Week 1 -->
      <tr>
        <td>
          7
        </td>
        <td>
          8
          <div class="icon-smiley data track-whole"></div>
        </td>
        <td>
          9
        </td>
        <td>
          10
          <div class="icon-happy data track-partial"></div>
        </td>
        <td>
          11
        </td>
        <td>
          12
        </td>
        <td>
          13
          <div class="icon-sad data track-whole"></div>
        </td>
      </tr>
      <!-- Week 2 -->
      <tr>
        <td>
          14
        </td>
        <td>
          15
        </td>
        <td>
          16
        </td>
        <td>
          17
        </td>
        <td>
          18
        </td>
        <td>
          19
        </td>
        <td>
          20
        </td>
      </tr>
      <!-- Week 3 -->
      <tr>
        <td>
          21
        </td>
        <td>
          22
        </td>
        <td>
          23
        </td>
        <td>
          24
        </td>
        <td>
          25
        </td>
        <td class="calendar-today">
          26
        </td>
        <td>
          27
        </td>
      </tr>
      <!-- Week 4 -->
      <tr>
        <td>
          28
        </td>
        <td>
          29
        </td>
        <td>
          30
        </td>
        <td>
          1
        </td>
        <td>
          2
        </td>
        <td>
          3
        </td>
        <td>
          4
        </td>
      </tr>
    </table>
  </section>
</div>

