<div ng-controller="WorkoutCtrl">
	<section class="timer {{workouts.type}}">
		<p>{{minutes}}:{{seconds}}</p>
	</section>
	<div class="controls">
		<button class="controls-button" ng-click="pause()">Pause</button>
		<button class="controls-button" ng-click="resume()">Resume</button>
		<button class="controls-button">Cancel</button>
	</div>
	<div ng-class="{current: $first}" ng-repeat="workout in workouts" class="movement {{workout.type}}">
		<span>{{workout.name}}</span>
		<!-- <span ng-click="showDescription()">?</span>
	 		{{workout.type}}
			{{workout.duration}} -->
		<span class="icon-info">
			<span>{{workout.description}}</span>
		</span>
	</div>
</div>
